header {
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: 25%;
    height: 88px;
}

img {
    height: 44px;
}

.author-credit {
    color: #808080;
    font-size: 11px ;
    font-weight: bold;
}

.author-link {
    color: #20A9E5;
    text-decoration: none;
}

.date {
    font-size: 8px;
    color: #808080;
}

.photo-tim {
    block-size: 205px;
}

.captions {
    font-size: 8px;
}

.lorem-ipsum {
    font-size: 12px;
}

.lorem-ipsum-question {
    font-size: 12px;
}